<!DOCTYPE html>
<html>
  <head>
    <title><%= data.title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div id="bodyDiv">
      <h1>Ez egy felhő alapú alkalmazás Azure-ban!</h1>

      <h2><%= data.title %></h2>
      
      <p>NodeJS Verzió: <%= data.nodeVerison %></p>
      <div>Szerver neve: <%= data.host %></div>
    </div>
  </body>
</html>
